	<div class="grid" [formGroup]="inventarioAgregarEditarForm">
		<div class="col-12" >
				<div class="p-fluid p-formgrid grid">
					<div class="field col-12 md:col-6">
						<label htmlFor="detallePdto"> <i class="pi pi-user"></i> Prodcuto <span
								style="color: red;">*</span></label>
						<input pInputText id="detallePdto" type="text" formControlName="detallePdto" name="detallePdto" />
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="cantidad"> <i class="pi pi-user"></i> Cantidad <span
								style="color: red;">*</span></label>
						<input pInputText id="cantidad" type="text" formControlName="cantidad" name="cantidad" />
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="precio"> <i class="pi pi-user"></i> Precio<span
								style="color: red;">*</span></label>
						<input pInputText id="precio" type="text" formControlName="precio" name="precio" />
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="estado"> <i class="pi pi-sitemap"></i> Estado <span
								style="color: red;">*</span></label>
						<p-dropdown [options]="estadoList" optionLabel="label" optionValue="value" formControlName="estado" placeholder="Selecione un estado"></p-dropdown>
					</div>
				</div>
				<div class="flex flex-wrap gap-2">
					<button pButton pRipple type="button" label="Guardar" (click)="guardarEditar()" [disabled]="!inventarioAgregarEditarForm.valid"></button>
					<button pButton pRipple type="button" label="Cancelar" class="ml-2" (click)="closeDialog()"></button>				
				</div>
			</div>
		</div>

