<div class="grid">
  <div class="col-12">
    <div class="card">
      
<p-table [value]="historialventas" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Codigo venta</th>
      <th>Producto/s</th>
      <th>Costo total</th>
      <th>Fecha de compra</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-historialventas>
    <tr>
      <td>{{ historialventas.Codigo }}</td>
      <td>{{ historialventas.Productos }}</td>
      <td>{{ historialventas.Costo }}</td>
      <td>{{ historialventas.Fecha }}</td>
    </tr>
  </ng-template>
</p-table>
    </div>
  </div>
</div>

