<div class="grid">
  <div class="col-12">
    <div class="card">

      <p-table [value]="clientes" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption"> Header </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>N°Cliente</th>
            <th>Nombre</th>
            <th>Número de teléfono</th>
            <th>Número de RUC</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clientes>
          <tr>
            <td>{{ clientes.id_cliente }}</td>
            <td>{{ clientes.nombre }}</td>
            <td>{{ clientes.numero_contacto }}</td>
            <td>{{ clientes.numero_ruc }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>