<form [formGroup]="MandarRegistro" (ngSubmit)="enviarDatos()">
	<div class="grid">
		<div class="col-12">
				<div class="p-fluid p-formgrid grid">
					<div class="field col-12 md:col-6">
						<label htmlFor="nombre"> <i class="pi pi-user"></i> Nombre <span
								style="color: red;">*</span></label>
						<input pInputText id="nombre" type="text" formControlName="nombre" name="nombre" />
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="nombre"> <i class="pi pi-user"></i> Apellido <span
								style="color: red;">*</span></label>
						<input pInputText id="nombre" type="text" formControlName="nombre" name="nombre" />
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="contrasenha"> <i class="pi pi-lock"></i> Contraseña <span
								style="color: red;">*</span></label>
						<p-password id="contrasenha" [toggleMask]="true" formControlName="contrasenha"
							name="contrasenha">
							<ng-template pTemplate="footer">
								<p-divider></p-divider>
								<p class="mt-2">Sugerencias</p>
								<ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
									<li>Minimo 8 caracteres</li>
									<li>Una mayuscula</li>
									<li>Un numero</li>
								</ul>
							</ng-template>
						</p-password>
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="confirmarContrasenha"> <i class="pi pi-lock"></i> Confirmar contraseña <span
								style="color: red;">*</span></label>
						<p-password id="confirmarContrasenha" [toggleMask]="true" formControlName="confirmarContrasenha"
							name="confirmarContrasenha">
						</p-password>
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="correo">
							<i class="pi pi-envelope"></i> Correo <span style="color: red;">*</span>
						</label>
						<input pInputText id="correo" type="email" formControlName="correo" name="correo"
							pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
							title="Por favor, ingrese una dirección de correo electrónico válida" />
						<div *ngIf="MandarRegistro.get('correo')?.invalid && MandarRegistro.get('correo')?.touched"
							class="error-message">
							<span style="color: red"> Por favor, ingrese una dirección de correo electrónico válida.
							</span>
						</div>
					</div>
					<div class="field col-12 md:col-6">
						<label htmlFor="estado"> <i class="pi pi-sitemap"></i> Estado <span
								style="color: red;">*</span></label>
						<p-dropdown [options]="estadoList" optionLabel="label" optionValue="value" formControlName="estado" placeholder="Selecione un estado"></p-dropdown>
					</div>
				</div>
				<div class="flex flex-wrap gap-2">
					<button pButton pRipple label="Guardar"> </button>		
				</div>
			</div>
		</div>
</form>