<div class="card" [formGroup]="productoForm">
  <div class="flex justify-content-between">
    <div class="w-auto">

    </div>
    <div>
      <button pButton type="button" (click)="productoListData()" icon="pi pi-search " class="mr-2 mb-3" pTooltip="Buscar"  tooltipPosition="top"></button>  
      <button pButton type="button" (click)="clearFilters()" icon="pi pi-filter" class="mr-2 mb-3" pTooltip="Limpiar"  tooltipPosition="top"></button>  
    </div>
</div>
  <p-table [paginator]="true" [value]="productoList" [first]="start" [rows]="pageSize" [totalRecords]="totalRecords" 
  [lazy]="true" (onLazyLoad)="onLazyLoadData($event)" columnResizeMode="expand" styleClass="p-datatable-gridlines" [resizableColumns]="true" >
      <ng-template pTemplate="header">
          <tr>
              <!--th style="max-width: 100%;">
                  <div pSortableColumn="idProducto" class=" mb-2">
                      Codigo
                      <p-sortIcon field="idProducto"></p-sortIcon>
                  </div>
                  <input pInputText style="width:100%" formControlName="idProducto">
              </th-->
              <th style="max-width: 100%;">
                  <div pSortableColumn="detallePdto" class=" mb-2">
                      Producto
                      <p-sortIcon field="detallePdto"></p-sortIcon>
                  </div>
                  <input pInputText style="width:100%" formControlName="detallePdto">
              </th>
              <th style="max-width: 100%;">
                  <div pSortableColumn="cantidad" class=" mb-2">
                      Cantidad
                      <p-sortIcon field="cantidad"></p-sortIcon>
                  </div>
                  <input pInputText style="width:100%" formControlName="cantidad">
              </th>
              <th style="max-width: 100%;">
                  <div pSortableColumn="precio" class=" mb-2">
                      Costo
                      <p-sortIcon field="precio"></p-sortIcon>
                  </div>
                  <input pInputText style="width:100%" formControlName="precio">
              </th>
              <!--th style="max-width: 100%;">
                  <div pSortableColumn="estado" class=" mb-2">
                      Estado
                    </div>
                  <p-dropdown [options]="estado"  optionLabel="label" optionValue="value" [style]="{ width: '100%' }" placeholder="Seleccionar Estado" formControlName="estado" appendTo="body"></p-dropdown>
              </th-->
              <th class="text-center" style="width: 20%;">
                  Accion
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inventario>
          <tr>
            <!--td>{{ inventario.idProducto }}</td-->
            <td>{{ inventario.detallePdto }}</td>
            <td>{{ inventario.cantidad }}</td>
            <td class="text-right">₲ {{ inventario.precio }} </td>
            <!--td class="text-center">{{inventario.estado == "A" ? "Activo" : "Inactivo"}}</td-->
              <td class="flex justify-content-center" style="width: 100%;">
                <input pInputText style="width:100%" formControlName="cantidad">
                <!-- <button p-button icon="pi pi-dollar" styleClass="p-button-success ml-2"  pTooltip="Vender" tooltipPosition="top"></button> -->
                <p-button icon="pi pi-dollar" styleClass="p-button-success ml-2" (click)="venderProducto(inventario.idProducto, productoForm.controls['cantidad'].value)" [disabled]="!productoForm.valid" pTooltip="Vender"  tooltipPosition="top" ></p-button>
            </td>
          </tr>
      </ng-template>
  </p-table>
  <p-toast></p-toast>
</div>

